<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<li th:fragment="todoItem(item)" th:classappend="${item.completed?'completed':''}">
    <div class="view">
        <form th:action="@{/{id}/toggle(id=${item.id})}" th:method="PUT">
            <input class="toggle" type="checkbox"
                   onchange="this.form.submit()"
                   th:attrappend="checked=${item.completed?'true':null}">
            <label th:text="${item.title}">Do something amazing!</label>
        </form>
        <form th:action="@{/{id}(id=${item.id})}" th:method="DELETE">
            <button class="destroy"></button>
        </form>
    </div>
    <input class="edit" value="Do something amazing!">
</li>
</html>